html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

body{
	background-color: #eaeaea;
}

.menu{
	margin: 30px;
	border: 1px solid black;
	background: rgb(67,67,67);
	background: linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(59,59,59,1) 100%);
	border-radius: 5px;
}

.menu li{
	display: block;
	float: left;
	border-right: 1px solid black;	
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #eaeaea;
}

.menu li a:hover{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #eaeaea;
	background: rgb(96,96,96);
	background: linear-gradient(90deg, rgba(96,96,96,1) 0%, rgba(74,74,74,1) 100%);
}

.menu li:first-child a{
	border-radius: 5px 0px 5px 0px;
}

.menu ul ul{
	position: absolute;
	display: none;
	background: rgb(67,67,67);
	background: linear-gradient(90deg, rgba(67,67,67,1) 0%, rgba(59,59,59,1) 100%);
}

.menu ul li:hover ul{
	display: block;
}

.menu ul ul li{
	float: none;
	border-right: 0;
}














